{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Page for Config</title>
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
<div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/scheduler">Scheduler Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Video Scrapper</a>
                </li>
            </ul>
        </div>

    </nav>
</div>

<div>
    <form method="post">
    {% csrf_token %}
    <table class="table table-hover" style="border-collapse: separate; border-spacing: 0 15px">
        {% if success %}
            <p style="color:green; font-weight: bold">Successfully Updated Scheduler Setting!!</p>
        {% endif %}
        {% if form %}
            {% for field in form %}
                <tr>
                    <td style="text-align: left">
                        {{ field.label_tag }}
                    </td>
                    <td style="text-align: left">
                        {{ field }}
                    </td>

                </tr>

            {% endfor %}
        {% endif %}
        {% if errors %}
            {% for error in errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <tr>
            <td style="text-align:center" colspan="2">
                <input class="btn  btn-outline-dark btn-light" type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>
</div>

</body>
</html>